# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Model files (important!)
*.pth
*.pt

# Data (optional - usually ignore)
data/
test.py

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit cache
.streamlit/